nav {
    display: flex;
    flex-direction: row;
    background-color: black;
    width: 100%;
    height: auto;
    line-height: 2.5;
    font-size: large;
    box-shadow: 0px 3px 5px grey;
}

nav .container-nav {
    display: flex;
    justify-content: center;
    flex: row;
    margin-left: auto;
    width: 100%;
    max-width: 1000px;
    margin-right: auto;
}

nav .left-nav {
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: left;
    justify-items: left;
    margin-left: 2em;
    transition: 0.3s;
}

nav .left-nav span {
    display: none;
    cursor: pointer;
    color: grey;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

nav .right-nav {
    display: flex;
    justify-content: right;
    margin-left: auto;
    margin-right: 2em;
    position: right;
    gap: 2em;
}

nav .side-nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    overflow-x: hidden;
    padding-top: 4em;
    transition: 0.5s;
    box-shadow: 10px 0px 150px black;
    -webkit-tap-highlight-color: transparent;
}

nav .side-nav a {
    text-decoration: none;
    color: grey;
    transition: 0.4s;
    font-size: xx-large;
}

nav .side-nav a:hover {
    color: darkgrey;
}

nav .side-nav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 45px;
    margin-left: 50px;
}

nav .side-nav ul {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
}

nav a {
    color: grey;
    text-decoration: none;
}

@media (max-width: 800px) {
    nav {
        font-size: x-large;
    }

    nav .container-nav {
        justify-content: flex-start;
    }

    nav .left-nav {
        margin-left: 1em;
    }

    nav .right-nav {
        display: none;
    }

    nav .left-nav span {
        display: flex;
    }

    nav .left-nav #nav-icon {
        display: block;
    }
}

nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 2em;
}

#nav-icon {
    display: none;
    width: 60px;
    height: 45px;
    position: relative;
    margin-top: 7px;
    z-index: 2;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    transform: scale(0.7);
}

#nav-icon span {
    display: block;
    position: absolute;
    height: 9px;
    width: 100%;
    background: grey;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
}

#nav-icon span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#nav-icon span:nth-child(2) {
    top: 18px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#nav-icon span:nth-child(3) {
    top: 36px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#nav-icon.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -3px;
    left: 8px;
}

#nav-icon.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
}

#nav-icon.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 39px;
    left: 8px;
}
